# CREDIT CARD FRAUD DETECTION

# TEAM MEMBERS
1. Sai Deepak P V (310618105059)
2. Rakshana V (310618105056)
3. Sadhana S (310618105058)
4. Shalini B (310618105062)

# Importing numpy and pandas libraries

In [1]:
import numpy as np
import pandas as pd

# Loading the creditcard.csv dataset file

In [2]:
ccd=pd.read_csv('creditcard.csv')

# viewing the datasets head and tail

In [3]:
ccd.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
ccd.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

# Dataset information

In [5]:
ccd.info() #This gives us how many entries how many columns are there in the dataset and shows us if there is any missing value present in the dataset and gives us the type of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

# Viewing the distribution of class between legit and fraud

In [6]:
ccd['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [7]:
#The above classes 0 represents legit transaction and 1 represents fraud transaction as we can see 75% of the transaction is distrubuted to legit transaction so it is highly unbalanced because if we feed it into the algorithm it fails to detect wheather the transaction is legit or fraud and may be less accurate due to the less number of fradulent transactions.So, whenever we feed new values in it this shows as legit transaction only even if it is a fraud transaction

# Seperating legit and fraud transactions

In [8]:
legit = ccd[ccd.Class == 0] #if class value is 0 those rows will be stored in legit
fraud = ccd[ccd.Class == 1] #if class value is 1 those rows will be stored in fraud

# Viewing the shape of dataset legit and fraud

In [9]:
legit.shape

(284315, 31)

In [10]:
fraud.shape

(492, 31)

# Analyzing the statistical information of the transaction amount

In [11]:
legit.Amount.describe() # describe() gives us the statistical information of the particular column we need like count, mean, standard deviation etc....

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
#The mean of the fraud transactions is more the mean of legit transactions which is more the maximum transaction for legit transaction is $2125.87 and 75% of the transaction amount is less than $105.89

# Comparing values for legit and fraud classes

In [14]:
ccd.groupby('Class').mean() #This compares the means values of both the classes
# 0 is legit 
# 1 is fraud

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [15]:
#This difference between both the classes paves way for predecting wheather the transaction is legit or fraud by using ML algorithms

# Under-Sampling the dataset

In [16]:
#Since the dataset is highly unbalanced we will be under-sampling the dataset which a takes a sample of the data. So, we will be generating a sample dataset from the original dataset containing the same distribtion of legit and fraud transactions

In [17]:
legit_sample = legit.sample(n=492) #Of the 284315 legit transactions we will the randomely taking 492 transactions in this sample and combine it with fraud transations

# Contatenating two dataframes

In [18]:
lf_data = pd.concat([legit_sample, fraud], axis=0)

# Viewing the legit and fraud combined dataset

In [19]:
lf_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
131933,79796.0,-2.283398,2.545409,-0.350603,0.812404,-1.311881,-0.850508,-0.801123,1.729204,-0.978737,...,0.292609,0.521365,0.092435,0.528797,-0.078467,-0.339976,-0.007892,0.073070,1.35,0
261713,160151.0,-0.886392,1.610795,-0.534178,0.042621,0.343241,-0.851909,0.619577,0.105801,-0.588266,...,0.474023,1.183130,-0.291890,-0.032767,-0.327097,-0.075405,-0.450044,0.138443,18.46,0
205280,135670.0,0.067018,0.775091,-0.040124,-0.598102,1.136720,-0.183582,0.984081,-0.142554,-0.305206,...,-0.193314,-0.502912,0.062447,0.046299,-0.901835,0.146702,0.156932,0.216923,10.99,0
33502,37258.0,-1.442560,1.398568,1.062191,-0.113986,0.098310,0.295054,0.237661,-2.295535,-0.576234,...,2.464967,-0.147299,0.124204,0.190213,-0.045854,-0.507289,0.335387,0.102170,71.99,0
43768,41645.0,1.234729,0.457004,0.006528,1.195055,-0.159484,-1.384469,0.551700,-0.362000,-0.256582,...,0.026904,0.096757,-0.110003,0.724880,0.795291,-0.316695,-0.011341,0.015335,11.46,0

In [20]:
lf_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [21]:
lf_data['Class'].value_counts() #This gives is the count of class of both legit and fraud

1    492
0    492
Name: Class, dtype: int64

# Comparing values for legit and fraud classes for new dataset

In [22]:
lf_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94548.695122,0.026476,0.021934,0.105088,0.080368,-0.029733,0.003820,-0.015404,0.084680,0.034126,...,0.046468,-0.010526,-0.018352,0.035680,-0.01279,-0.011926,-0.011709,0.017328,0.020959,87.069817
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [23]:
#As we can see the mean of the values above. Here the values are almost similar to the original dataset we loaded, from this we can say the nature of the dataset has not changed we can still see the difference and this will not be a problem when we fit it into the algorithm this can predict the output as expected.

# Splitting dataset into features(time, amount, v1, v2 etc...) and target(class)

In [24]:
x = lf_data.drop(columns='Class', axis=1)
y = lf_data['Class']

In [25]:
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
131933,79796.0,-2.283398,2.545409,-0.350603,0.812404,-1.311881,-0.850508,-0.801123,1.729204,-0.978737,...,-0.096818,0.292609,0.521365,0.092435,0.528797,-0.078467,-0.339976,-0.007892,0.073070,1.35
261713,160151.0,-0.886392,1.610795,-0.534178,0.042621,0.343241,-0.851909,0.619577,0.105801,-0.588266,...,-0.161196,0.474023,1.183130,-0.291890,-0.032767,-0.327097,-0.075405,-0.450044,0.138443,18.46
205280,135670.0,0.067018,0.775091,-0.040124,-0.598102,1.136720,-0.183582,0.984081,-0.142554,-0.305206,...,-0.006163,-0.193314,-0.502912,0.062447,0.046299,-0.901835,0.146702,0.156932,0.216923,10.99
33502,37258.0,-1.442560,1.398568,1.062191,-0.113986,0.098310,0.295054,0.237661,-2.295535,-0.576234,...,-0.850754,2.464967,-0.147299,0.124204,0.190213,-0.045854,-0.507289,0.335387,0.102170,71.99
43768,41645.0,1.234729,0.457004,0.006528,1.195055,-0.159484,-1.384469,0.551700,-0.362000,-0.256582,...,-0.165026,0.026904,0.096757,-0.110003,0.724880,0.795291,-0.316695,-0.011341,0.015335,11.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [26]:
y

131933    0
261713    0
205280    0
33502     0
43768     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

# Importing train_test_split library

In [27]:
from sklearn.model_selection import train_test_split

# Splitting train and test data

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [29]:
# We have split the dataset randomely using random_state into training and testing dataset for the test size we have seperated 80% into training data and remaining 20% into test data the stratify is for evenly distributing the y dataset into train and test

In [30]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

In [31]:
print(y.shape, y_train.shape, y_test.shape)

(984,) (787,) (197,)

In [32]:
# By viewing the shape we see that about 984 values are in our original x dataset out of this 787 values is given to train and 197 values to test

# Importing the algorithm

In [33]:
# Here we are using logistic regression as we can get a better accuracy score we generally use logistic regression for binary classification types of problems this gives a high degree of accuracy

In [34]:
from sklearn.linear_model import LogisticRegression

# fitting and training the data

In [35]:
lrmodel = LogisticRegression()

In [36]:
lrmodel.fit(x_train, y_train)

LogisticRegression()

# Importing accuracy score library

In [37]:
from sklearn.metrics import accuracy_score #This accuracy score allows us to find wheather the model is correctly predicting or not according to the precentage

# Evaluating the trained model

In [38]:
xtprediction = lrmodel.predict(x_train)
tdataaccuracy = accuracy_score(xtprediction, y_train) # we are checking the accuracy of the trained model

In [39]:
tdataaccuracy

0.9479034307496823

In [40]:
#As the model has been trained from the dataset we have predicted the accuracy for x_train and by comparing it with y_train and we get the accuracy score of 91%

# Evaluating the test model

In [41]:
xtestpred = lrmodel.predict(x_test)
testdaccuracy = accuracy_score(xtestpred, y_test)

In [42]:
testdaccuracy

0.9441624365482234

In [43]:
# The accuracy score of the test data comparing it with x_test and y_test is 94%